$google-button-blue: #4285f4;
$google-button-active-blue: #1669f2;
$black: #000000;
$semi-black: #111111;
$semi-white: #f7f7f7;
$white: #ffffff;

$auth-form-items-spacing: 0.8rem;
$auth-form-buttons-width: 90%;
$auth-form-color: $semi-white;
$nav-height: 50px;
$new-entry-height: 30%;
